.container {
  max-width: 110rem;
  margin: 8rem auto;
  background-color: white;
  min-height: 90rem;

  border-radius: 1%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-wrap: wrap;
  //justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.rx-header {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1rem;
  margin: 5rem 0;

  background: -webkit-linear-gradient(
    45deg,
    rgb(9, 0, 159),
    rgb(31, 168, 111) 80%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tooth {
  display: flex;
  justify-content: center;
  //border: 1px solid red;
  width: 100%;
  flex-wrap: wrap;

  &__type {
    margin: auto 0;
    align-items: center;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 500;
    text-transform: uppercase;

    h6 {
      margin: 1.5rem 0 !important;
    }
  }

  &__selection {
    display: flex;
    //border: 1px solid green;
    flex: 0 0 72%;
    flex-direction: column;
    align-items: center;
    width: 90%;

    //border-left: 0.15rem solid #ccc;

    &-header {
      font-size: 2.5rem;
      font-weight: 500;
      text-transform: uppercase;
      color: gray;
      margin: 2.5rem 0;
    }

    &-set {
      display: flex;
      flex-wrap: wrap;
      margin-left: 1rem;
    }
  }
}

.rx-form {
  width: 100%;
}
.user__info {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.user__input {
}
