<div class="container">
   

    <div class="tooth">

        <div class="tooth__type">
            <app-adulttooth *ngIf="age >= 18"></app-adulttooth>
            <app-kidstooth *ngIf="age < 18"></app-kidstooth>
            
        </div>

        <div class="tooth__selection" >
            <div class="header">
                <h4 class="rx-header">
                    Prescription
                </h4>
            </div>
            <h4 class="tooth__selection-header">Select tooths from here to specify problem</h4>
            <div  class="tooth__selection-set" *ngIf = "age >= 18">
                <button [disabled] = "age === null" (click) = "setTooth(item)" (dblclick) = "removeTooth(item)" class="tooth__card" [class.selected] = "selectedTooth.includes(item)" *ngFor="let item of adultToothSet">
                    <p class="tooth__card-name">{{item}}</p>
                    <img src="assets/tooth_big.png" alt="" class="tooth__card-img">
                    
                </button>
            </div>


            <div class="tooth__selection-set" *ngIf="age < 18">
                <button (click) = "setTooth(item)" (dblclick) = "removeTooth(item)" class="tooth__card" [class.selected] = "selectedTooth.includes(item)" *ngFor="let item of childToothSet">
                    <p class="tooth__card-name">{{item}}</p>
                    <img src="assets/tooth_big.png" alt="" class="tooth__card-img">
                    
                </button>
            </div>

            <h4 class="tooth__selection-header">Selected teeth</h4>
            <div class="tooth__selection-selected" *ngIf="selectedTooth.length > 0; else message">
                
                <div class="tooth__selection-selected--card" *ngFor="let tooth of selectedTooth">
                    <div class="tooth__card-selected" >
                        <p class="tooth__card-name">{{tooth}}</p>
                        <img src="assets/tooth_big.png" alt="" class="tooth__card-img">
                        
                    </div>

                    <div class="instruction-box">
                        <!-- <app-text-input ></app-text-input> -->
                        <p>Problem Specification form for this tooth  goes here</p>
                    </div>
                </div>

                
            </div>
        
            <ng-template #message>
                <div class="tooth__selection-selected">
                    <p class="message">Please select tooth to see give advise to patient</p>
                </div>
                
            </ng-template>

        </div>
    
    </div>






   
    
</div>