.tooth__selection {
  &-set {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
  }
}

.tooth {
  &__card-selected,
  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem 0.8rem;
    border: none;
    cursor: pointer;
    transition: all 0.2s;
    padding: 0.3rem;
    background-color: transparent;
    border-radius: 6%;
    flex-wrap: wrap;

    &-img {
      height: 3rem;
      width: 2.5rem;
      object-fit: cover;
    }

    &-name {
      font-size: 2rem;
      margin-bottom: 0.5rem;
      font-weight: 500;
      input {
        text-align: center;
        border: none;
        font-size: 2rem;
      }
    }

    &:hover {
      background-color: #ccc;
      transform: translateY(-0.5rem);
    }
  }

  &__selection {
    &-set {
      display: flex;
      flex-wrap: wrap;
      margin: 2rem 0;
      justify-content: center;
    }

    &-selected {
      align-self: stretch;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
      align-items: center;

      &--card {
        flex: 0 0 40%;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        border: 1px solid #ccc;
        border-radius: 3.5%;
        margin: 0.8rem;
        align-items: center;
        position: relative;
      }

      .card-remove {
        top: 0;
        right: 0;
        z-index: 100;
        display: block;
        position: absolute;
        background-color: rgb(156, 13, 13);
        color: whitesmoke;
        border: none;
        border-radius: 6.5%;
        font-size: 2rem;
        overflow: hidden;
      }

      .instruction-box {
        padding: 0 0.4rem;
        margin: 1rem 0.1rem;
        font-size: 1.15rem;
        //border: 1px solid #ccc;
        width: 100%;
        //border-radius: 3.5%;
        text-align: center;

        .issue-input {
          display: flex;
          margin: 1rem 0;
          input {
            flex: 0 0 90%;
            text-transform: capitalize;
            text-align: center;
          }
        }
      }

      .form {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-self: stretch;

        &__footer {
          background-color: #4caf50; /* Green */
          border: none;
          color: white;
          padding: 1.5rem 3.2rem;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 1.6rem;
          border-radius: 3.5%;
          transition: all 0.3s;
          margin: 2rem;
        }

        &__footer:hover {
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          transform: translateY(-0.3rem);
        }

        &__footer:active {
          transform: translateY(0.4rem);
        }
      }
    }
  }
}

.doc-box {
  // display: flex;
  // flex-wrap: wrap;
  // flex-direction: column;
  // justify-content: center;
  // align-self: stretch;
  // justify-content: space-around;
  width: 100%;
}

.fieldset {
  flex: 0 0 48%;
  position: relative;
  border-top: 1px solid #ddd;
  padding: 10px;
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fieldset h1 {
  position: absolute;
  top: 0;
  font-size: 18px;
  line-height: 1;
  margin: -9px 0 0; /* half of font-size */
  background: #fff;
  padding: 0 3px;
}

.med__form-box {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.med__form-row {
}

.med__form-input {
  margin: 0.2rem 0;
  //padding: 0.8rem 2rem;
  text-transform: capitalize;

  input {
    padding: 1rem 0;
    margin: 0 0.2rem;
    border: 2px solid #ccc;
    text-align: center;
  }

  input:focus,
  input:active {
    border-color: #4caf50;
  }
}

.btn-add {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 1rem 1.25rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.25rem;
  border-radius: 3.5%;
  transition: all 0.3s;
  margin-top: 1rem;
}

.btn-add:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: translateY(-0.3rem);
}

.btn-remove {
  background-color: #701009; /* Green */
  border: none;
  color: white;
  padding: 1.25rem 0.45rem;
  text-align: center;
  text-transform: capitalize;
  display: inline-block;
  font-size: 1rem;
  border-radius: 3.5%;
  transition: all 0.3s;
  margin: 0 0.2rem;
}

.btn-remove:hover {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transform: translateY(-0.3rem);
}

.selected {
  background: rgb(49, 196, 123);
  background: linear-gradient(
    45deg,
    rgba(49, 196, 123, 0.8491771708683473) 0%,
    rgba(69, 26, 101, 0.8491771708683473) 0%,
    rgba(43, 107, 102, 1) 97%,
    rgba(18, 186, 102, 1) 99%,
    rgba(49, 196, 123, 0.8491771708683473) 100%
  );
  transform: translateY(-0.8rem);
  margin-top: 0.3rem 0;
  color: white !important;
}

.info {
  display: flex;
  justify-content: space-around;
  width: 100%;
  //border-bottom: 1px solid #ccc;
  padding: 1rem;
  margin-bottom: 1.25rem;

  .title {
    font-size: 1.25rem;
    font-weight: bolder;
  }

  .user__input {
    height: 4rem;
    border-radius: 3.5%;
    outline: steelblue;
    border: 1px solid;
    text-align: center;
    padding: 0.2rem;
  }
  .user__input:focus {
    border: 2px solid;
    border-color: rgb(7, 161, 90);
  }
}

.box {
  display: flex;
  //flex-wrap: wrap;
  .left-box {
    flex: 0 0 70%;
  }
  .right-box {
    //display: flex;
    //border: 1px solid;
    // align-self: stretch;
    // align-items: center;
    // justify-content: center;
    width: 100%;
  }
}

.invalid {
  background-color: gray !important;
}
