<div class="dashboard">
    <div class="container">
        <div class="dashboad-option">
            <div class="dashboard-option__icon-box">
                <svg class="dashboad-option__icon">
                    <use xlink:href="assets/sprite.svg#icon-search"></use>
                </svg>
            </div>
    
            <p class="dashboad-option__text">
                Find your patient
            </p>
        </div>
    
    
        <div class="dashboad-option">
            <div class="dashboard-option__icon-box">
                <svg class="dashboad-option__icon">
                    <use xlink:href="assets/sprite.svg#icon-user-plus"></use>
                </svg>
            </div>
    
            <p class="dashboad-option__text">
                Create new patient
            </p>
        </div>
    
    
        <div class="dashboad-option" routerLink="/rx">
            <div class="dashboard-option__icon-box">
                <svg class="dashboad-option__icon">
                    <use xlink:href="assets/sprite.svg#icon-plus"></use>
                </svg>
            </div>
    
            <p class="dashboad-option__text">
                Create New Rx
            </p>
        </div>
    
    
        <div class="dashboad-option">
            <div class="dashboard-option__icon-box">
                <svg class="dashboad-option__icon">
                    <use xlink:href="assets/sprite.svg#icon-profile"></use>
                </svg>
            </div>
    
            <p class="dashboad-option__text">
                Find Old Rx
            </p>
        </div>
    
    
        <div class="dashboad-option">
            <div class="dashboard-option__icon-box">
                <svg class="dashboad-option__icon">
                    <use xlink:href="assets/sprite.svg#icon-table2"></use>
                </svg>
            </div>
    
            <p class="dashboad-option__text">
                See your Appointments
            </p>
        </div>
    
    
        <div class="dashboad-option">
            <div class="dashboard-option__icon-box">
                <svg class="dashboad-option__icon">
                    <use xlink:href="assets/sprite.svg#icon-stats-dots"></use>
                </svg>
            </div>
    
            <p class="dashboad-option__text">
                See data analysis
            </p>
        </div>
    
    
    
    
    </div>
</div>
