<div class="container">
  <div class="header">
    <h1>Edit Prescription</h1>
  </div>

  <form class="box">
    <div class="left-panel">
      <section class="patient">
        <h4>patient info</h4>
        <div class="patient__info">
          <div class="patient__info__input">
            <h5>Age</h5>
            <input type="text" />
          </div>

          <div class="patient__info__input">
            <h5>Name</h5>
            <input type="text" />
          </div>

          <div class="patient__info__input">
            <h5>Address</h5>
            <input type="text" />
          </div>
        </div>
      </section>

      <section class="tooth">
        <h4>Select Tooth from here</h4>
        <div class="tooth__selector"></div>
      </section>
      <section class="tooth1">Tooth selector here</section>
      <section class="tooth1">Tooth selector here</section>
    </div>

    <div class="right-panel">right panel</div>
  </form>
</div>
