
    <header class="header">
        <img src="../../../assets/jotnno_logo.png" alt="logo" class="logo" >
        <form action="#" class="search">
            <input type="text" placeholder="Search for patient with phone number" class="search__input">
            <button class="search__button">
                <img class="search__icon" src="../../../assets/svgs/search.svg">

                
            </button>
        </form>
    
        <nav class="user-nav">
            <div class="user-nav__icon-box">
                <img src="../../../assets/svgs/home.svg" alt="go to dashboard" class="user-nav__icon ">
            </div>
    
            <div class="user-nav__icon-box">
                <img src="../../../assets/svgs/users.svg" alt="" class="user-nav__icon">
               
                <span class="user-nav__notification">5</span>
            </div>
    
        <div class="user-nav__user">
            <img src="../../../assets/svgs/user.png" alt="" class="user-nav__user-photo">
            <span class="user-nav__user-name">Dr. Kuddus</span>
        </div>
        </nav>
    </header>


    