<div class="container">
  <div class="header">
    <h2>View Presciption</h2>
  </div>
  <div class="book">
    <div class="page" id="paper">
      <section class="subpage">
        <div class="doctor">
          <div class="doctor__header">
            <h3>ABC Hospital</h3>
          </div>
          <section>
            <div class="doctor__name">
              <h3>Abdul Kuddus</h3>
            </div>
            <div class="doctor__info">
              <p>FCPS, MBBS FAIL</p>
              <p>Dhaka Medical College</p>
              <p class="contact">0171118899</p>
            </div>
          </section>
        </div>

        <div class="patient" *ngIf="patientInfo">
          <div class="patient__name">
            <h5>
              <span style="font-weight: bold">Name: </span
              >{{ patientInfo["name"] }}
            </h5>
          </div>
          <div class="patient__info">
            <p>
              <span style="font-weight: bold">Age: </span
              >{{ patientInfo["age"] }}
            </p>
            <p>
              <span style="font-weight: bold">Address: </span
              >{{ patientInfo["address"] }}
            </p>
          </div>
        </div>

        <div class="doctor__use">
          <div class="issue">
            <section class="fieldset">
              <h1>Diagnosis</h1>
              <ul *ngFor="let item of problemData">
                <li>
                  Teeth No: {{ item["tooth"] }}
                  <ul *ngFor="let issues of item['specify']">
                    <li>{{ issues }}</li>
                  </ul>
                </li>
              </ul>
            </section>
          </div>

          <div class="medication">
            <section class="fieldset">
              <h1>Suggested Medication</h1>
              <ul *ngFor="let item of medicationData">
                <li>
                  {{ item["medicine"] }}
                </li>
              </ul>
            </section>
          </div>

          <div class="instruction">
            <section class="fieldset">
              <h1>Instruction from Doctor</h1>
              <ul *ngFor="let item of instructionData">
                <li>
                  {{ item["suggestion"] }}
                </li>
              </ul>
            </section>
          </div>
        </div>
      </section>
      <button type="button" (click)="createPDF()">Make PDF</button>
    </div>
  </div>
</div>
