.tooth__selection {
  &-set {
    display: flex;
    flex-wrap: wrap;
    margin-left: 1rem;
  }
}

.tooth__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0.8rem;
  border: none;
  cursor: pointer;
  transition: all 0.2s;
  padding: 0.3rem;
  background-color: transparent;
  border-radius: 6%;
  flex-wrap: wrap;

  &-img {
    height: 3rem;
    width: 2.5rem;
    object-fit: cover;
  }

  &-name {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
  }

  &:hover {
    background-color: #ccc;
    transform: translateY(-0.5rem);
  }
}

.selected {
  background-color: rgba(129, 6, 6, 0.938);
  transform: translateY(-0.8rem);
  margin-top: 0.3rem 0;
  color: white;
}
